<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    
<h2>Registration Form</h2>
<form method="post" action="">
    {% csrf_token %}

    <table border="1" align="center">

        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="uname" placeholder="sender name"></td>

        </tr>
        <tr>
            <td>Email id</td>
            <td><input type="email" name="Email" placeholder=" Enter Email"></td>
        </tr>
        <tr>
            <td>Mobile no.</td>
            <td><input type="number" name="umobile" placeholder=" sender mobile no."></td>
        </tr>
        <tr>
            <td>message</td>
            <td><textarea name="Message" id="" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="Submit" value="send"></td>
        </tr>
    </table>
</form>
</body>
</html>